body {
    margin: 0;
    height: 100vh;
}

.contact-page {
    padding: 20px;
    position: relative; /* To allow for absolute positioning of toast */
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-weight: bold;
    color: #bbbc;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 2px solid #de680086;
    border-radius: 5px;
    resize: none; /* Prevent resizing for the textarea */
}

.contact-form button {
    padding: 15px;
    font-size: 16px;
    background-color: #ff8800;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e77b00;
}

.toast {
    margin-top: 10px;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.5s;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .contact-page {
        padding: 10px; /* Reduced padding for mobile */
    }

    .contact-form {
        gap: 5px; /* Reduced gap for mobile */
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px; /* Smaller font size for inputs */
    }

    .contact-form button {
        font-size: 14px; /* Smaller font size for button */
    }

    .toast {
        font-size: 14px; /* Smaller font size for toast message */
    }
}
